
<div class="container">
  <div class="nav-dashboard">
    <img src="./../../../assets/Logo.png" alt="" width="50px" height="50px" style="cursor: pointer;" (click)="router.navigate(['Home'])">
    <p>Write a new post</p>
  </div>
      <div class="card">
          <input placeholder="Post title" [(ngModel)]="title" name="title" required autocomplete="off" class="title">

          <input type="file" name="file" id="file" (change)="uploadImage($event)" class="choose-img">

          <div [hidden]="!image">
            <img [src]="image || '//:0' " width="500px" height="200px" style="margin-left:15%;">
          </div>
        <br>
          <textarea matInput placeholder="Post content" [(ngModel)]="content" name="content" rows="10" class="post-content"></textarea>
        <br>
        <mat-card-actions class="dashboard-btn">
          <button mat-raised-button (click)="createPost()" color="accent" [disabled]="!title || !content || !image">{{saving}} </button>
        </mat-card-actions>
       </div>

  </div>





