.container{
  width: 100vw;
  height: 100vh;
  background-color: #e1e7f3;
}
.nav-dashboard{
  display: flex;
  padding: 1% 0 0 5%;
}

p{
  margin: 1% 0 0 2.5%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.card{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 80vh;
  margin: 30px auto;
  background-color: #e1e7f3;
  border: 1px solid #d1d9e6;
  box-shadow: 20px 20px 30px #d6dbe7, -20px -20px 30px #ecf3ff;
  -webkit-box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  transition: background-color 0.3s;
}

.dashboard-btn button{
  position: relative;
  width: 90px;
  height: 35px ;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  background-color: #e1e7f3;
  border: 1px solid #d1d9e6;
  box-shadow: 20px 20px 30px #d6dbe7, -20px -20px 30px #ecf3ff;
  -webkit-box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  transition: background-color 0.3s;
  margin-left: 4.5%;
}

.title{
  width: 45vw;
  height: 45px;
  outline: none;
  background-color: #e1e7f3;
  border: 1px solid #d1d9e6;
  -webkit-box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  margin: 4%;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.choose-img{
  width: 13vw;
  outline: none;
  cursor: pointer;
  margin-left: 4%;
  border: 1px solid #d1d9e6;
  -webkit-box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
}

.post-content {
  width: 45vw;
  outline: none;
  background-color: #e1e7f3;
  border: 1px solid #d1d9e6;
  -webkit-box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  margin-left: 4%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

