.sign-up{
  justify-content: center;
}
.sign-up-content{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.sign-up-title h1{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 15px;
}
.sign-up-button{
  margin: 10px;
  outline: none;
  border:0;
  cursor: pointer;
  width: 5vw;
  height: 5vh;
  margin: 0 auto;


}
