<div class="card">

  <mat-card class="example-card">
    <div class="sign-in-title">
      <mat-card-header>
        <mat-card-title>Welcome to D.E.V</mat-card-title>
        <mat-card-subtitle> <Strong>Sign In </Strong> <br> to continue with Google </mat-card-subtitle>
      </mat-card-header>
    </div>
    <div class="sign-in">
      <mat-card-content class="tesst">
          <mat-form-field appearance="fill" style="width: 80%; height: 20%;">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="abc@gmail.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" style="width: 80%; height: 20%;">
            <mat-label>Enter your password</mat-label>
            <input matInput placeholder="password" [formControl]="password" required type='password' [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
          </mat-form-field>
      </mat-card-content>
    </div>

    <div class="sign-in-button">
      <mat-card-actions>
        <button mat-button class="cre-sign" style="margin-right:1.6vw" (click)="loginOnClick()">Create account</button>
        <button mat-button class="cre-sign" style="margin-left:2vw" (click)="signin()">Sign In</button>
        <br>
        <hr>
        <button mat-button (click)="loginWithGoogle()" style="width: 24.8vw;"> <img src="../../../../assets/googleIcon.svg" width="20px" height="20px" style="margin-right: 10px;"> Login With Google</button>
      </mat-card-actions>
    </div>
    </mat-card>
</div>

