.card{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  margin: 0 auto;
}
.sign-in-title{
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}
.sign-in button{
  border: 0;
  border-radius: 50%;
  outline: none;
}
.sign-in-button button{
  margin: 10px;
  outline: none;
  border:0;
  cursor: pointer;
  width: 5vw;
  height: 5vh;
  margin: 20px;
}
